.check-ip {
  width: 300px;
  margin: 0 auto;

  &__form {
    margin-bottom: 20px;
  }

  &__result {
    &-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
