.navigation {
  margin: 40px;
  display: flex;
  justify-content: space-between;

  @media (--tablet-small) {
    margin: 40px 10px 20px 10px;
  }

  @media (--phone) {
    margin: 40px 10px 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  &__part {
    display: flex;
    justify-content: space-between;

    @media (--phone) {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }
}
