@import "normalize.css";
@import "./fonts";
@import "./variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 16PX;
}

body {
  font-family: $mainFont;
  color: $mainColor;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 16px;
  font-weight: unset;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
