/* Fonts */
$mainFont: 'Roboto', sans-serif;

/* Colors */
$mainColor: #000;
$secondColor: lightgray;
$darkColor: gray;
$accentColor: #309ddc;
$dangerColor: red;

/* Media queries */
@custom-media --phone-small (min-width: 0px) and (max-width: 425px);
@custom-media --phone-large (min-width: 426px) and (max-width: 640px);
@custom-media --phone (min-width: 0px) and (max-width: 640px);

@custom-media --tablet-small (min-width: 641px) and (max-width: 768px);
@custom-media --tablet-large (min-width: 769px) and (max-width: 960px);
@custom-media --tablet (min-width: 641px) and (max-width: 960px);

@custom-media --mobile (min-width: 0px) and (max-width: 960px);

@custom-media --desktop-small (min-width: 961px) and (max-width: 1200px);
@custom-media --desktop (min-width: 961px);
