<template>
  <div class="field" :class="{'field--error': errors.length}">
    <slot></slot>

    <ul class="field__errors" v-if="errors">
      <li class="field__errors-item"
        v-for="(error, index) in errors" :key="index"
        v-text="error"
      ></li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => []
    }
  }
}
</script>
