<template>
  <div class="check-ip">
    <form class="form check-ip__form" @submit.prevent="submit">
      <app-field :errors="errors.target_ip">
        <input class="input"
          name="target_ip"
          type="text"
          v-model="fields.target_ip"
          placeholder="Введите IP"
          required
          ref="target_ip"
        >
      </app-field>

      <button class="button form__button"
        :class="{'button--loading' : sending}"
        type="submit"
      >Отправить</button>
    </form>

    <ul class="check-ip__result">
      <li class="check-ip__result-item" v-show="result.city"><b>Город:</b> {{ result.city }}</li>
      <li class="check-ip__result-item" v-show="result.country"><b>Страна:</b> {{ result.country }}</li>
    </ul>
  </div>
</template>


<script>
import FormMixin from '../mixins/FormMixin'
import IMask from 'imask';

const publicIp = require('public-ip');

export default {
  mixins: [ FormMixin ],

  async asyncData() {
    const ip = await publicIp.v4()
    return { ip }
  },

  mounted() {
    this.getIp()
    this.setFieldsMask()
  },

  methods: {
    setFieldsMask() {
      IMask(this.$refs.target_ip, {
        mask: 'ip`.ip`.ip`.ip',
        blocks: {
          ip: {
            mask: [
              {
                mask: IMask.MaskedRange,
                form: 100,
                to: 255
              },
              {
                mask: IMask.MaskedRange,
                form: 10,
                to: 99
              },
              {
                mask: IMask.MaskedRange,
                form: 0,
                to: 9
              }
            ]
          }
        }
      })
    },
    getIp() {
      (async () => {
        this.hiddenData.client_ip = await publicIp.v4();
      })();
    }
  }
}
</script>
