<template>
  <form class="form" @submit.prevent="submit">
    <app-field :errors="errors.name">
      <input class="input"
        name="name"
        type="name"
        v-model="fields.name"
        placeholder="Ваше имя"
        required
      >
    </app-field>

    <app-field :errors="errors.email">
      <input class="input"
        name="email"
        type="email"
        v-model="fields.email"
        placeholder="Ваш email"
        required
      >
    </app-field>

    <app-field :errors="errors.password">
      <input class="input"
        name="password"
        type="password"
        v-model="fields.password"
        placeholder="Ваш пароль"
        required
      >
    </app-field>

    <app-field :errors="errors.password_confirmation">
      <input class="input"
        name="password_confirmation"
        type="password"
        v-model="fields.password_confirmation"
        placeholder="Подтверждение пароля"
        required
      >
    </app-field>

    <button class="button form__button"
      :class="{'button--loading' : sending}"
      type="submit"
    >Отправить</button>
  </form>
</template>

<script>
import FormMixin from '../mixins/FormMixin'

export default {
  mixins: [ FormMixin ],

  data() {
    return {
      redirectTo: '/'
    }
  }
}
</script>
