.container {
  width: 1170px;
  margin: 0 auto;

  @media (--desktop-small) {
    width: 960px;
  }

  @media (--tablet) {
    width: 768px;
  }

  @media (--tablet-small) {
    width: 640px;
  }

  @media (--phone) {
    width: 300px;
  }
}
