.input {
  width: 100%;
  height: 30px;
  padding: 0 6px;
  display: block;
  border: none;
  border-bottom: 2px solid $darkColor;
  background-color: #fff;
  outline: none;
  transition: all 0.3s;

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: $secondColor;
  }

  &:focus {
    border-color: $accentColor;
  }

  @media (--mobile) {
    font-size: 14px;
  }
}

.field--error {
  .input {
    border-color: $dangerColor;
  }
}
