table {
  width: 100%;

  @media (--tablet-small) {
    display: none;
  }

  @media (--phone) {
    display: none;
  }
}

th {
  background-color: $secondColor;
}

td {
  text-align: center;
}

th, td {
  height: 40px;
}

.table-mobile {
  width: 300px;
  margin: 0 auto;
  display: none;

  @media (--tablet-small) {
    display: block;
  }

  @media (--phone) {
    display: block;
  }

  &__row {
    margin-bottom: 20px;
  }
}
